.DS_Store
/GoogleService-Info.plist
/functions/node_modules/
/functions/.env*
!/functions/.env.example
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
